# CE-QUAL-W2 Parser

In [1]:
import pandas as pd
import numpy as np
from w2_control_file import W2ControlFile
import w2_functions as w2

## Load the CE-QUAL-W2 control file

In [2]:
infile = 'w2_con.npt'
w2con = W2ControlFile(infile)
# w2con.save()

## Read the card names

In [3]:
card_names = []

with open('w2_card_names.txt', 'r') as f:
	for line in f.readlines():
		card_names.append(line.strip())

print(card_names)

['GRID', 'IN/OUTFL', 'CONSTITU', 'MISCELL', 'TIME CON', 'DLT CON', 'DLT DATE', 'DLT MAX', 'DLT FRN', 'DLT LIMIT', 'BRANCH G', 'LOCATION', 'INIT CND', 'CALCULAT', 'DEAD SEA', 'INTERPOL', 'HEAT EXCH', 'ICE COVER', 'TRANSPORT', 'HYD COEF', 'EDDY VISC', 'N STRUC', 'STR INT', 'STR TOP', 'STR BOT', 'STR SINK', 'STR ELEV', 'STR WIDTH', 'PIPES', 'PIPE UP', 'PIPE DOWN', 'SPILLWAYS', 'SPILL UP', 'SPILL DOWN', 'SPILL GAS', 'GATES', 'GATE WEIR', 'GATE UP', 'GATE DOWN', 'GATE GAS', 'PUMPS 1', 'PUMPS 2', 'WEIR SEG', 'WEIR TOP', 'WEIR BOT', 'WD INT', 'WD SEG', 'WD ELEV', 'WD TOP', 'WD BOT', 'TRIB PLA', 'TRIB INT', 'TRIB SEG', 'TRIB TOP', 'TRIB BOT', 'DST TRIB', 'HYD PRINT', 'SNP PRINT', 'SNP DATE', 'SNP FREQ', 'SNP SEG', 'SCR PRINT', 'SCR DATE', 'SCR FREQ', 'PRF PLOT', 'PRF DATE', 'PRF FREQ', 'PRF SEG', 'SPR PLOT', 'SPR DATE', 'SPR FREQ', 'SPR SEG', 'VPL PLOT', 'VPL DATE', 'VPL FREQ', 'CPL PLOT', 'CPL DATE', 'CPL FREQ', 'FLUXES', 'FLX DATE', 'FLX FREQ', 'TSR PLOT', 'TSR DATE', 'TSR FREQ', 'TSR SEG', 'TSR LAYE', 'WITH OUT', 'WITH DATE', 'WITH FREQ', 'WITH SEG', 'RESTART', 'RSO DATE', 'RSO FREQ', 'CST COMP', 'CST ACTIVE', 'CST DERI', 'CST FLUX', 'CST ICON', 'CST PRIN', 'CIN CON', 'CTR CON', 'CDT CON', 'CPR CON', 'EX COEF', 'ALG EX', 'ZOO EX', 'MACRO EX', 'GENERIC', 'S SOLIDS', 'ALGAL RATE', 'ALGAL TEMP', 'ALG STOI', 'EPIPHYTE', 'EPI PRIN', 'EPI INIT', 'EPI RATE', 'EPI HALF', 'EPI TEMP', 'EPI STOI', 'ZOOP RATE', 'ZOOP ALGP', 'ZOOP ZOOP', 'ZOOP TEMP', 'ZOOP STOI', 'MACROPHY', 'MAC PRIN', 'MAC INI', 'MAC RATE', 'MAC SED', 'MAC DIST', 'MAC DRAG', 'MAC TEMP', 'MAC STOICH', 'DOM', 'POM', 'OM STOIC', 'OM RATE', 'CBOD', 'CBOD STOIC', 'PHOSPHOR', 'AMMONIUM', 'NH4 RATE', 'NITRATE', 'NO3 RATE', 'SILICA', 'IRON', 'SED CO2', 'STOICH 1', 'STOICH 2', 'STOICH 3', 'STOICH 4', 'STOICH 5', 'O2 LIMIT', 'SEDIMENT', 'SOD RATE', 'S DEMAND', 'REAERATION', 'RSI FILE', 'QWD FILE', 'QGT FILE', 'WSC FILE', 'SHD FILE', 'BTH FILE', 'MET FILE', 'EXT FILE', 'VPR FILE', 'LPR FILE', 'QIN FILE', 'TIN FILE', 'CIN FILE', 'QOT FILE', 'QTR FILE', 'TTR FILE', 'CTR FILE', 'QDT FILE', 'TDT FILE', 'CDT FILE', 'PRE FILE', 'TPR FILE', 'CPR FILE', 'EUH FILE', 'TUH FILE', 'CUH FILE', 'EDH FILE', 'TDH FILE', 'CDH FILE', 'SNP FILE', 'PRF FILE', 'VPL FILE', 'CPL FILE', 'SPR FILE', 'FLX FILE', 'TSR FILE', 'WDO FILE']

In [4]:
cards = pd.DataFrame(np.zeros(len(card_names), dtype=int), index=card_names, columns=['line_start'])

for card_name in card_names:
	for i, line in enumerate(w2con.lines):
		if line.upper().startswith(card_name):
			cards.loc[card_name, 'line_start'] = i

# pd.set_option('display.max_rows', None)

In [7]:
diffs = cards.diff(periods=-1) * -1
diffs.iloc[-1,0] = 3
cards['num_lines'] = diffs
convert_dict = {'num_lines': int}
cards = cards.astype(convert_dict)
cards

          line_start  num_lines
GRID              14          3
IN/OUTFL          17          3
CONSTITU          20          3
MISCELL           23          3
TIME CON          26          3
...              ...        ...
CPL FILE         954          3
SPR FILE         957          3
FLX FILE         960          3
TSR FILE         963          3
WDO FILE         966          3

[194 rows x 2 columns]

In [8]:
widths = 10*[8]
nlines = len(w2con.lines)

cards_list = []
for card_name in card_names:
	record_line = cards.loc[card_name, 'line_start'] + 1 # account for get_record using a start index of 1 for the lines instead of zero.
	record_nlines = cards.loc[card_name, 'num_lines']
	data = w2.get_record(w2con.w2_control_filepath, widths, nlines, record_line, record_nlines)
	cards_list.append(data)

In [10]:
for card in cards_list:
	display(card)

       GRID  NWB  NBR  IMX  KMX NPROC CLOSEC Unnamed: 7 Unnamed: 8  Unnamed: 9
0       NaN    1    1   77   56     1     ON        NaN        NaN         NaN
1  IN/OUTFL  NTR  NST  NIW  NWD   NGT    NSP        NPI        NPU         NaN

   IN/OUTFL  NTR  NST  NIW  NWD   NGT  NSP  NPI  NPU  Unnamed: 9
0       NaN    0    0    0    0    20    0    0  0.0         NaN
1  CONSTITU  NGC  NSS  NAL  NEP  NBOD  NMC  NZP  NaN         NaN

,CONSTITU,NGC,NSS,NAL,NEP,NBOD,NMC,NZP,Unnamed: 8,Unnamed: 9
0,NaN,1,0,0,0,0,0,0,NaN,NaN
1,MISCELL,NDAY,SELECTC,HABTATC,ENVIRPC,AERATEC,INITUWL,SYSTDG,N2BND,DOBND

    MISCELL    NDAY SELECTC HABTATC ENVIRPC AERATEC INITUWL SYSTDG N2BND DOBND
0       NaN     100     OFF     OFF     OFF     OFF     OFF     ON   OFF   OFF
1  TIME CON  TMSTRT   TMEND    YEAR     NaN     NaN     NaN    NaN   NaN   NaN

,TIME CON,TMSTRT,TMEND,YEAR,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,1.00,1826.00,2011,NaN,NaN,NaN,NaN,NaN,NaN
1,DLT CON,NDT,DLTMIN,DLTINTR,NaN,NaN,NaN,NaN,NaN,NaN

,DLT CON,NDT,DLTMIN,DLTINTR,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,1,1.0,OFF,NaN,NaN,NaN,NaN,NaN,NaN
1,DLT DATE,DLTD,DLTD,DLTD,DLTD,DLTD,DLTD,DLTD,DLTD,DLTD

,DLT DATE,DLTD,DLTD.1,DLTD.2,DLTD.3,DLTD.4,DLTD.5,DLTD.6,DLTD.7,DLTD.8
0,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DLT MAX,DLTMAX,DLTMAX,DLTMAX,DLTMAX,DLTMAX,DLTMAX,DLTMAX,DLTMAX,DLTMAX

,DLT MAX,DLTMAX,DLTMAX.1,DLTMAX.2,DLTMAX.3,DLTMAX.4,DLTMAX.5,DLTMAX.6,DLTMAX.7,DLTMAX.8
0,NaN,3600.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DLT FRN,DLTF,DLTF,DLTF,DLTF,DLTF,DLTF,DLTF,DLTF,DLTF

,DLT FRN,DLTF,DLTF.1,DLTF.2,DLTF.3,DLTF.4,DLTF.5,DLTF.6,DLTF.7,DLTF.8
0,NaN,0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DLT LIMI,T VISC,CELC,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,DLT LIMI,T VISC,CELC,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,ON,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BRANCH G,US,DS,UHS,DHS,UQB,DQB,NLMIN,SLOPE,SLOPEC

   BRANCH G   US    DS   UHS DHS UQB   DQB  NLMIN  SLOPE  SLOPEC
0      BR 1    2    76     0   0   0     0    2.0    0.0     0.0
1  LOCATION  LAT  LONG  EBOT  BS  BE  JBDN    NaN    NaN     NaN

,LOCATION,LAT,LONG,EBOT,BS,BE,JBDN,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,45.644,121.941,1.006,1,1.0,1.0,NaN,NaN,NaN
1,INIT CND,T2I,ICETHI,WTYPEC,GRIDC,NaN,NaN,NaN,NaN,NaN

,INIT CND,T2I,ICETHI,WTYPEC,GRIDC,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,4.50,0.0,FRESH,RECT,NaN,NaN,NaN,NaN,NaN
1,CALCULAT,VBC,EBC,MBC,PQC,EVC,PRC,NaN,NaN,NaN

,CALCULAT,VBC,EBC,MBC,PQC,EVC,PRC,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,OFF,ON,OFF,OFF,OFF,OFF,NaN,NaN,NaN
1,DEAD SEA,WINDC,QINC,QOUTC,HEATC,NaN,NaN,NaN,NaN,NaN

,DEAD SEA,WINDC,QINC,QOUTC,HEATC,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,ON,ON,ON,ON,NaN,NaN,NaN,NaN,NaN
1,INTERPOL,QINIC,DTRIC,HDIC,NaN,NaN,NaN,NaN,NaN,NaN

,INTERPOL,QINIC,DTRIC,HDIC,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,BR 1,ON,ON,ON,NaN,NaN,NaN,NaN,NaN,NaN
1,HEAT EXC,H SLHTC,SROC,RHEVC,METIC,FETCHC,AFW,BFW,CFW,WINDH

,HEAT EXC,H SLHTC,SROC,RHEVC,METIC,FETCHC,AFW,BFW,CFW,WINDH
0,WB 1,TERM,OFF,OFF,ON,OFF,9.2,.46,2.00,2.0
1,ICE COVE,R ICEC,SLICEC,ALBEDO,HWI,BETAI,GAMMAI,ICEMIN,ICET2,NaN

,ICE COVE,R ICEC,SLICEC,ALBEDO,HWI,BETAI,GAMMAI,ICEMIN,ICET2,Unnamed: 9
0,WB 1,OFF,DETAIL,0.25,10.0,0.6,0.07,0.05,3.0,NaN
1,TRANSPOR,T SLTRC,THETA,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,TRANSPOR,T SLTRC,THETA,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,ULTIMATE,0.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HYD COEF,AX,DX,CBHE,TSED,FI,TSEDF,FRICC,Z0,NaN

,HYD COEF,AX,DX,CBHE,TSED,FI,TSEDF,FRICC,Z0,Unnamed: 9
0,WB 1,1,1.,0.3,11.6,0.010,0.0,MANN,0.001,NaN
1,EDDY VIS,C AZC,AZSLC,AZMAX,FBC,E,ARODI,STRCKLR,BOUNDFR,TKECAL

,EDDY VIS,C AZC,AZSLC,AZMAX,FBC,E,ARODI,STRCKLR,BOUNDFR,TKECAL
0,WB 1,TKE,IMP,1.0,3.0,9.535,0.431,24.0,10.0,IMP
1,N STRUC,NSTR,DYNELEV,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,N STRUC,NSTR,DYNELEV,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,BR1,0,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STR INT,STRIC,STRIC,STRIC,STRIC,STRIC,STRIC,STRIC,STRIC,NaN

,STR INT,STRIC,STRIC.1,STRIC.2,STRIC.3,STRIC.4,STRIC.5,STRIC.6,STRIC.7,Unnamed: 9
0,BR 1,OFF,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN
1,STR TOP,KTSTR,KTSTR,KTSTR,KTSTR,KTSTR,KTSTR,KTSTR,KTSTR,NaN

,STR TOP,KTSTR,KTSTR.1,KTSTR.2,KTSTR.3,KTSTR.4,KTSTR.5,KTSTR.6,KTSTR.7,Unnamed: 9
0,BR 1,2,2,2,2,NaN,NaN,NaN,NaN,NaN
1,STR BOT,KBSTR,KBSTR,KBSTR,KBSTR,KBSTR,KBSTR,KBSTR,KBSTR,NaN

,STR BOT,KBSTR,KBSTR.1,KBSTR.2,KBSTR.3,KBSTR.4,KBSTR.5,KBSTR.6,KBSTR.7,Unnamed: 9
0,BR 1,43,43,43,43,NaN,NaN,NaN,NaN,NaN
1,STR SINK,SINKC,SINKC,SINKC,SINKC,SINKC,SINKC,SINKC,SINKC,NaN

,STR SINK,SINKC,SINKC.1,SINKC.2,SINKC.3,SINKC.4,SINKC.5,SINKC.6,SINKC.7,Unnamed: 9
0,BR 1,LINE,LINE,LINE,POINT,NaN,NaN,NaN,NaN,NaN
1,STR ELEV,ESTR,ESTR,ESTR,ESTR,ESTR,ESTR,ESTR,ESTR,NaN

,STR ELEV,ESTR,ESTR.1,ESTR.2,ESTR.3,ESTR.4,ESTR.5,ESTR.6,ESTR.7,Unnamed: 9
0,BR 1,11.7,4.7,15.6,20.0,NaN,NaN,NaN,NaN,NaN
1,STR WIDT,H WSTR,WSTR,WSTR,WSTR,WSTR,WSTR,WSTR,WSTR,NaN

,STR WIDT,H WSTR,WSTR,WSTR.1,WSTR.2,WSTR.3,WSTR.4,WSTR.5,WSTR.6,Unnamed: 9
0,BR 1,313,240,326,1.0,NaN,NaN,NaN,NaN,NaN
1,PIPES,IUPI,IDPI,EUPI,EDPI,WPI,DLXPI,FPI,FMINPI,WTHLC

Empty DataFrame
Columns: [PIPES, IUPI, IDPI, EUPI, EDPI, WPI, DLXPI, FPI, FMINPI, WTHLC]
Index: []

Empty DataFrame
Columns: [PIPE UP, PUPIC, ETUPI, EBUPI, KTUPI, KBUPI, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []

Empty DataFrame
Columns: [PIPE DOW, N  PDPIC, ETDPI, EBDPI, KTDPI, KBDPI, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []

Empty DataFrame
Columns: [SPILLWAY, S   IUSP, IDSP, ESP, A1SP, B1SP, A2SP, B2SP, LATSP, C]
Index: []

Empty DataFrame
Columns: [SPILL UP, PUSPC, ETUSP, EBUSP, KTUSP, KBUSP, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []

Empty DataFrame
Columns: [SPILL DO, WN PDSPC, ETUSP, EBUSP, KTDSP, KBDSP, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []

,SPILL GA,S GASSPC,EQSP,AGASSP,BGASSP,CGASSP,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,GATES,IUGT,IDGT,EGT,A1GT,B1GT,G1GT,A2GT,B2GT,G2GT

       GATES      IUGT  IDGT   EGT  A1GT    B1GT  G1GT  A2GT  B2GT  G2GT
0      POWR1        76     0  11.7  10.0     1.5   1.0  10.0   1.5   1.0
1        SB1        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
2        SB2        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
3        SB3        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
4        SB4        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
5        SB5        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
6        SB6        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
7        SB7        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
8        SB8        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
9        SB9        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
10      SB10        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
11      SB11        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
12      SB12        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
13      SB13        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
14      SB14        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
15      SB15        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
16      SB16        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
17      SB17        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
18      SB18        76     0   7.3  10.0     1.5   1.0  10.0   1.5   1.0
19     OTHER        76     0  20.0  10.0     1.5   1.0  10.0   1.5   1.0
20  GATE WEI  R   GTA1  GTB1  GTA2  GTB2  DYNVAR  GTIC   NaN   NaN   NaN

,GATE WEI,R GTA1,GTB1,GTA2,GTB2,DYNVAR,GTIC,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,POWR1,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
1,SB1,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
2,SB2,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
3,SB3,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
4,SB4,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
5,SB5,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
6,SB6,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
7,SB7,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
8,SB8,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
9,SB9,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
10,SB10,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
11,SB11,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
12,SB12,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
13,SB13,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
14,SB14,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
15,SB15,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
16,SB16,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
17,SB17,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
18,SB18,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
19,OTHER,10.0,1.5,10.0,1.5,FLOW,ON,NaN,NaN,NaN
20,GATE UP,PUGTC,ETUGT,EBUGT,KTUGT,KBUGT,NaN,NaN,NaN,NaN

,GATE UP,PUGTC,ETUGT,EBUGT,KTUGT,KBUGT,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,POWR1,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
1,SB1,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
2,SB2,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
3,SB3,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
4,SB4,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
5,SB5,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
6,SB6,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
7,SB7,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
8,SB8,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
9,SB9,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
10,SB10,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
11,SB11,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
12,SB12,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
13,SB13,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
14,SB14,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
15,SB15,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
16,SB16,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
17,SB17,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
18,SB18,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
19,OTHER,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
20,GATE DOW,N PDGTC,ETDGT,EBDGT,KTDGT,KBDGT,NaN,NaN,NaN,NaN

,GATE DOW,N PDGTC,ETDGT,EBDGT,KTDGT,KBDGT,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,POWR1,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
1,SB1,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
2,SB2,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
3,SB3,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
4,SB4,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
5,SB5,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
6,SB6,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
7,SB7,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
8,SB8,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
9,SB9,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
10,SB10,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
11,SB11,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
12,SB12,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
13,SB13,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
14,SB14,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
15,SB15,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
16,SB16,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
17,SB17,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
18,SB18,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
19,OTHER,DISTR,NaN,NaN,2,55,NaN,NaN,NaN,NaN
20,GATE GAS,GASGTC,EQGT,AGASGT,BGASGT,CGASGT,GTTYPE,SPBC,NaN,NaN

,GATE GAS,GASGTC,EQGT,AGASGT,BGASGT,CGASGT,GTTYPE,SPBC,Unnamed: 8,Unnamed: 9
0,POWR1,OFF,2,135.0,-35.0,-0.1000,POW,NaN,NaN,NaN
1,SB1,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
2,SB2,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
3,SB3,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
4,SB4,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
5,SB5,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
6,SB6,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
7,SB7,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
8,SB8,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
9,SB9,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
10,SB10,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
11,SB11,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
12,SB12,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
13,SB13,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
14,SB14,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
15,SB15,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
16,SB16,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
17,SB17,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
18,SB18,ON,2,135.0,-35.0,-0.1000,SPB,2.04,NaN,NaN
19,OTHER,OFF,2,135.0,-35.0,-0.1000,NaN,NaN,NaN,NaN
20,PUMPS 1,IUPU,IDPU,EPU,STRTPU,ENDPU,EONPU,EOFFPU,QPU,WTHLC

Empty DataFrame
Columns: [PUMPS 1, IUPU, IDPU, EPU, STRTPU, ENDPU, EONPU, EOFFPU, QPU, WTHLC]
Index: []

Empty DataFrame
Columns: [PUMPS 2, PPUC, ETPU, EBPU, KTPU, KBPU, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []

Empty DataFrame
Columns: [WEIR SEG, IWR, IWR.1, IWR.2, IWR.3, IWR.4, IWR.5, IWR.6, IWR.7, IWR.8]
Index: []

Empty DataFrame
Columns: [WEIR TOP, KTWR, KTWR.1, KTWR.2, KTWR.3, KTWR.4, KTWR.5, KTWR.6, KTWR.7, KTWR.8]
Index: []

Empty DataFrame
Columns: [WEIR BOT, KBWR, KBWR.1, KBWR.2, KBWR.3, KBWR.4, KBWR.5, KBWR.6, KBWR.7, KBWR.8]
Index: []

Empty DataFrame
Columns: [WD INT, WDIC, WDIC.1, WDIC.2, WDIC.3, WDIC.4, WDIC.5, WDIC.6, WDIC.7, WDIC.8]
Index: []

Empty DataFrame
Columns: [WD SEG, IWD, IWD.1, IWD.2, IWD.3, IWD.4, IWD.5, IWD.6, IWD.7, IWD.8]
Index: []

Empty DataFrame
Columns: [WD ELEV, EWD, EWD.1, EWD.2, EWD.3, EWD.4, EWD.5, EWD.6, EWD.7, EWD.8]
Index: []

Empty DataFrame
Columns: [WD TOP, KTWD, KTWD.1, KTWD.2, KTWD.3, KTWD.4, KTWD.5, KTWD.6, KTWD.7, KTWD.8]
Index: []

     WD BOT  KBWD KBWD.1 KBWD.2 KBWD.3 KBWD.4 KBWD.5 KBWD.6 KBWD.7 KBWD.8
0  TRIB PLA  PTRC   PTRC   PTRC   PTRC   PTRC   PTRC   PTRC   PTRC   PTRC

,TRIB PLA,PTRC,PTRC.1,PTRC.2,PTRC.3,PTRC.4,PTRC.5,PTRC.6,PTRC.7,PTRC.8
0,NaN,DENSITY,DENSITY,DENSITY,NaN,NaN,NaN,NaN,NaN,NaN
1,TRIB INT,TRIC,TRIC,TRIC,TRIC,TRIC,TRIC,TRIC,TRIC,TRIC

   TRIB INT TRIC TRIC.1 TRIC.2 TRIC.3 TRIC.4 TRIC.5 TRIC.6 TRIC.7 TRIC.8
0       NaN  OFF    OFF    OFF    NaN    NaN    NaN    NaN    NaN    NaN
1  TRIB SEG  ITR    ITR    ITR    ITR    ITR    ITR    ITR    ITR    ITR

   TRIB SEG   ITR  ITR.1  ITR.2  ITR.3  ITR.4  ITR.5  ITR.6  ITR.7  ITR.8
0       NaN    40     38     21    NaN    NaN    NaN    NaN    NaN    NaN
1  TRIB TOP  ETRT  ELTRT  ELTRT  ELTRT  ELTRT  ELTRT  ELTRT  ELTRT  ELTRT

Empty DataFrame
Columns: [TRIB TOP, ETRT, ELTRT, ELTRT.1, ELTRT.2, ELTRT.3, ELTRT.4, ELTRT.5, ELTRT.6, ELTRT.7]
Index: []

,TRIB BOT,ETRB,ELTRB,ELTRB.1,ELTRB.2,ELTRB.3,ELTRB.4,ELTRB.5,ELTRB.6,ELTRB.7
0,DST TRIB,DTRC,DTRC,DTRC,DTRC,DTRC,DTRC,DTRC,DTRC,DTRC

,DST TRIB,DTRC,DTRC.1,DTRC.2,DTRC.3,DTRC.4,DTRC.5,DTRC.6,DTRC.7,DTRC.8
0,BR 1,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HYD PRIN,T HPRWBC,HPRWBC,HPRWBC,HPRWBC,HPRWBC,HPRWBC,HPRWBC,HPRWBC,HPRWBC

,HYD PRIN,T HPRWBC,HPRWBC,HPRWBC.1,HPRWBC.2,HPRWBC.3,HPRWBC.4,HPRWBC.5,HPRWBC.6,HPRWBC.7
0,NVIOL,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,U,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,W,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,T,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RHO,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AZ,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,SHEAR,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ST,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SB,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ADMX,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,DM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,HDG,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,ADMZ,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,HPG,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,GRAV,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,SNP PRIN,T SNPC,NSNP,NISNP,NaN,NaN,NaN,NaN,NaN,NaN

,SNP PRIN,T SNPC,NSNP,NISNP,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,ON,1,6,NaN,NaN,NaN,NaN,NaN,NaN
1,SNP DATE,SNPD,SNPD,SNPD,SNPD,SNPD,SNPD,SNPD,SNPD,SNPD

   SNP DATE  SNPD SNPD.1 SNPD.2 SNPD.3 SNPD.4 SNPD.5 SNPD.6 SNPD.7 SNPD.8
0      WB 1     1    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  SNP FREQ  SNPF   SNPF   SNPF   SNPF   SNPF   SNPF   SNPF   SNPF   SNPF

  SNP FREQ  SNPF SNPF.1 SNPF.2 SNPF.3 SNPF.4 SNPF.5 SNPF.6 SNPF.7 SNPF.8
0     WB 1  1.00    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  SNP SEG  ISNP   ISNP   ISNP   ISNP   ISNP   ISNP   ISNP   ISNP   ISNP

,SNP SEG,ISNP,ISNP.1,ISNP.2,ISNP.3,ISNP.4,ISNP.5,ISNP.6,ISNP.7,ISNP.8
0,WB 1,2,22,39.0,41.0,63.0,76.0,NaN,NaN,NaN
1,SCR PRIN,T SCRC,NSCR,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,SCR PRIN,T SCRC,NSCR,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,ON,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SCR DATE,SCRD,SCRD,SCRD,SCRD,SCRD,SCRD,SCRD,SCRD,SCRD

   SCR DATE  SCRD SCRD.1 SCRD.2 SCRD.3 SCRD.4 SCRD.5 SCRD.6 SCRD.7 SCRD.8
0      WB 1     1    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  SCR FREQ  SCRF   SCRF   SCRF   SCRF   SCRF   SCRF   SCRF   SCRF   SCRF

,SCR FREQ,SCRF,SCRF.1,SCRF.2,SCRF.3,SCRF.4,SCRF.5,SCRF.6,SCRF.7,SCRF.8
0,WB 1,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PRF PLOT,PRFC,NPRF,NIPRF,NaN,NaN,NaN,NaN,NaN,NaN

,PRF PLOT,PRFC,NPRF,NIPRF,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PRF DATE,PRFD,PRFD,PRFD,PRFD,PRFD,PRFD,PRFD,PRFD,PRFD

   PRF DATE  PRFD PRFD.1 PRFD.2 PRFD.3 PRFD.4 PRFD.5 PRFD.6 PRFD.7 PRFD.8
0      WB 1   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  PRF FREQ  PRFF   PRFF   PRFF   PRFF   PRFF   PRFF   PRFF   PRFF   PRFF

  PRF FREQ  PRFF PRFF.1 PRFF.2 PRFF.3 PRFF.4 PRFF.5 PRFF.6 PRFF.7 PRFF.8
0     WB 1   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  PRF SEG  IPRF   IPRF   IPRF   IPRF   IPRF   IPRF   IPRF   IPRF   IPRF

,PRF SEG,IPRF,IPRF.1,IPRF.2,IPRF.3,IPRF.4,IPRF.5,IPRF.6,IPRF.7,IPRF.8
0,WB 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SPR PLOT,SPRC,NSPR,NISPR,NaN,NaN,NaN,NaN,NaN,NaN

,SPR PLOT,SPRC,NSPR,NISPR,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,ONV,1,75,NaN,NaN,NaN,NaN,NaN,NaN
1,SPR DATE,SPRD,SPRD,SPRD,SPRD,SPRD,SPRD,SPRD,SPRD,SPRD

   SPR DATE  SPRD SPRD.1 SPRD.2 SPRD.3 SPRD.4 SPRD.5 SPRD.6 SPRD.7 SPRD.8
0      WB 1   0.5    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  SPR FREQ  SPRF   SPRF   SPRF   SPRF   SPRF   SPRF   SPRF   SPRF   SPRF

  SPR FREQ  SPRF SPRF.1 SPRF.2 SPRF.3 SPRF.4 SPRF.5 SPRF.6 SPRF.7 SPRF.8
0     WB 1   1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  SPR SEG  ISPR   ISPR   ISPR   ISPR   ISPR   ISPR   ISPR   ISPR   ISPR

,SPR SEG,ISPR,ISPR.1,ISPR.2,ISPR.3,ISPR.4,ISPR.5,ISPR.6,ISPR.7,ISPR.8
0,WB 1,2,3,4.0,5.0,6.0,7.0,8.0,9.0,10.0
1,NaN,11,12,13.0,14.0,15.0,16.0,17.0,18.0,19.0
2,NaN,20,21,22.0,23.0,24.0,25.0,26.0,27.0,28.0
3,NaN,29,30,31.0,32.0,33.0,34.0,35.0,36.0,37.0
4,NaN,38,39,40.0,41.0,42.0,43.0,44.0,45.0,46.0
5,NaN,47,48,49.0,50.0,51.0,52.0,53.0,54.0,55.0
6,NaN,56,57,58.0,59.0,60.0,61.0,62.0,63.0,64.0
7,NaN,65,66,67.0,68.0,69.0,70.0,71.0,72.0,73.0
8,NaN,74,75,76.0,NaN,NaN,NaN,NaN,NaN,NaN
9,VPL PLOT,VPLC,NVPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,VPL PLOT,VPLC,NVPL,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,ON,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VPL DATE,VPLD,VPLD,VPLD,VPLD,VPLD,VPLD,VPLD,VPLD,VPLD

   VPL DATE  VPLD VPLD.1 VPLD.2 VPLD.3 VPLD.4 VPLD.5 VPLD.6 VPLD.7 VPLD.8
0      WB 1     1    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  VPL FREQ  VPLF   VPLF   VPLF   VPLF   VPLF   VPLF   VPLF   VPLF   VPLF

,VPL FREQ,VPLF,VPLF.1,VPLF.2,VPLF.3,VPLF.4,VPLF.5,VPLF.6,VPLF.7,VPLF.8
0,WB 1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CPL PLOT,CPLC,NCPL,TECPLOT,NaN,NaN,NaN,NaN,NaN,NaN

,CPL PLOT,CPLC,NCPL,TECPLOT,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,ON,1,OFF,NaN,NaN,NaN,NaN,NaN,NaN
1,CPL DATE,CPLD,CPLD,CPLD,CPLD,CPLD,CPLD,CPLD,CPLD,CPLD

   CPL DATE  CPLD CPLD.1 CPLD.2 CPLD.3 CPLD.4 CPLD.5 CPLD.6 CPLD.7 CPLD.8
0      WB 1     1    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  CPL FREQ  CPLF   CPLF   CPLF   CPLF   CPLF   CPLF   CPLF   CPLF   CPLF

,CPL FREQ,CPLF,CPLF.1,CPLF.2,CPLF.3,CPLF.4,CPLF.5,CPLF.6,CPLF.7,CPLF.8
0,WB 1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FLUXES,FLXC,NFLX,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,FLUXES,FLXC,NFLX,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,OFF,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FLX DATE,FLXD,FLXD,FLXD,FLXD,FLXD,FLXD,FLXD,FLXD,FLXD

   FLX DATE  FLXD FLXD.1 FLXD.2 FLXD.3 FLXD.4 FLXD.5 FLXD.6 FLXD.7 FLXD.8
0      WB 1   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  FLX FREQ  FLXF   FLXF   FLXF   FLXF   FLXF   FLXF   FLXF   FLXF   FLXF

,FLX FREQ,FLXF,FLXF.1,FLXF.2,FLXF.3,FLXF.4,FLXF.5,FLXF.6,FLXF.7,FLXF.8
0,WB 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TSR PLOT,TSRC,NTSR,NITSR,NaN,NaN,NaN,NaN,NaN,NaN

,TSR PLOT,TSRC,NTSR,NITSR,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,ON,1,6,NaN,NaN,NaN,NaN,NaN,NaN
1,TSR DATE,TSRD,TSRD,TSRD,TSRD,TSRD,TSRD,TSRD,TSRD,TSRD

   TSR DATE  TSRD TSRD.1 TSRD.2 TSRD.3 TSRD.4 TSRD.5 TSRD.6 TSRD.7 TSRD.8
0       NaN     1    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  TSR FREQ  TSRF   TSRF   TSRF   TSRF   TSRF   TSRF   TSRF   TSRF   TSRF

  TSR FREQ     TSRF TSRF.1 TSRF.2 TSRF.3 TSRF.4 TSRF.5 TSRF.6 TSRF.7 TSRF.8
0      NaN  0.04167    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  TSR SEG     ITSR   ITSR   ITSR   ITSR   ITSR   ITSR   ITSR   ITSR   ITSR

    TSR SEG  ITSR ITSR.1 ITSR.2 ITSR.3 ITSR.4 ITSR.5 ITSR.6 ITSR.7 ITSR.8
0       NaN    76     76     76     76     76     76    NaN    NaN    NaN
1  TSR LAYE  ETSR   ETSR   ETSR   ETSR   ETSR   ETSR   ETSR   ETSR   ETSR

,TSR LAYE,ETSR,ETSR.1,ETSR.2,ETSR.3,ETSR.4,ETSR.5,ETSR.6,ETSR.7,ETSR.8
0,NaN,0.5,3.0,5.0,10.0,15.0,20.0,NaN,NaN,NaN
1,WITH OUT,WDOC,NWDO,NIWDO,NaN,NaN,NaN,NaN,NaN,NaN

,WITH OUT,WDOC,NWDO,NIWDO,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,ON,1,1,NaN,NaN,NaN,NaN,NaN,NaN
1,WITH DAT,E WDOD,WDOD,WDOD,WDOD,WDOD,WDOD,WDOD,WDOD,WDOD

   WITH DAT  E   WDOD  WDOD WDOD.1 WDOD.2 WDOD.3 WDOD.4 WDOD.5 WDOD.6 WDOD.7
0       NaN         1   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  WITH FRE  Q   WDOF  WDOF   WDOF   WDOF   WDOF   WDOF   WDOF   WDOF   WDOF

   WITH FRE  Q   WDOF  WDOF WDOF.1 WDOF.2 WDOF.3 WDOF.4 WDOF.5 WDOF.6 WDOF.7
0       NaN  .0416666   NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  WITH SEG      IWDO  IWDO   IWDO   IWDO   IWDO   IWDO   IWDO   IWDO   IWDO

  WITH SEG  IWDO IWDO.1 IWDO.2  IWDO.3  IWDO.4  IWDO.5  IWDO.6  IWDO.7  IWDO.8
0      NaN    76    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
1  RESTART  RSOC   NRSO   RSIC     NaN     NaN     NaN     NaN     NaN     NaN

,RESTART,RSOC,NRSO,RSIC,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,OFF,0,OFF,NaN,NaN,NaN,NaN,NaN,NaN
1,RSO DATE,RSOD,RSOD,RSOD,RSOD,RSOD,RSOD,RSOD,RSOD,RSOD

Empty DataFrame
Columns: [RSO DATE, RSOD, RSOD.1, RSOD.2, RSOD.3, RSOD.4, RSOD.5, RSOD.6, RSOD.7, RSOD.8]
Index: []

   RSO FREQ RSOF RSOF.1 RSOF.2  RSOF.3  RSOF.4  RSOF.5  RSOF.6  RSOF.7  RSOF.8
0  CST COMP  CCC   LIMC    CUF     NaN     NaN     NaN     NaN     NaN     NaN

,CST COMP,CCC,LIMC,CUF,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,ON,OFF,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,CST ACTI,VE CAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,CST ACTI,VE CAC,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,TDS,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N2,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PO4,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NH4,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NO3,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DSI,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PSI,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,FE,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,LDOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RDOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,LPOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,RPOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,DO,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,TIC,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ALK,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,LDOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,RDOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LPOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,RPOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,LDOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,RDOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LPOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,RPOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,CST DERI,CDWBC,CDWBC,CDWBC,CDWBC,CDWBC,CDWBC,CDWBC,CDWBC,CDWBC

,CST DERI,CDWBC,CDWBC.1,CDWBC.2,CDWBC.3,CDWBC.4,CDWBC.5,CDWBC.6,CDWBC.7,CDWBC.8
0,DOC,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,POC,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TOC,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DON,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PON,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,TON,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,TKN,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,TN,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,DOP,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,POP,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,TOP,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,TP,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,APR,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,CHLA,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ATOT,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,%DO,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,TSS,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,TISS,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,CBOD,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,pH,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,CO2,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,HCO3,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,CO3,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,CST FLUX,CFWBC,CFWBC,CFWBC,CFWBC,CFWBC,CFWBC,CFWBC,CFWBC,CFWBC

,CST FLUX,CFWBC,CFWBC.1,CFWBC.2,CFWBC.3,CFWBC.4,CFWBC.5,CFWBC.6,CFWBC.7,CFWBC.8
0,TISSIN,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TISSOUT,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PO4AR,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PO4AG,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PO4AP,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
69,SEDAS,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,SEDLPOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,SEDSET,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,SODDK,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,CST ICON,C2IWB,C2IWB,C2IWB,C2IWB,C2IWB,C2IWB,C2IWB,C2IWB,C2IWB

,CST ICON,C2IWB,C2IWB.1,C2IWB.2,C2IWB.3,C2IWB.4,C2IWB.5,C2IWB.6,C2IWB.7,C2IWB.8
0,TDS,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N2,19.803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PO4,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NH4,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NO3,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DSI,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PSI,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,FE,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,LDOM,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RDOM,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,LPOM,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,RPOM,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,DO,12.053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,TIC,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ALK,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,LDOM-P,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,RDOM-P,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LPOM-P,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,RPOM-P,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,LDOM-N,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,RDOM-N,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LPOM-N,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,RPOM-N,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,CST PRIN,CPRWBC,CPRWBC,CPRWBC,CPRWBC,CPRWBC,CPRWBC,CPRWBC,CPRWBC,CPRWBC

,CST PRIN,CPRWBC,CPRWBC.1,CPRWBC.2,CPRWBC.3,CPRWBC.4,CPRWBC.5,CPRWBC.6,CPRWBC.7,CPRWBC.8
0,TDS,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N2,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PO4,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NH4,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NO3,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DSI,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PSI,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,FE,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,LDOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RDOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,LPOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,RPOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,DO,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,TIC,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ALK,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,LDOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,RDOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LPOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,RPOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,LDOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,RDOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LPOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,RPOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,CIN CON,CINBRC,CINBRC,CINBRC,CINBRC,CINBRC,CINBRC,CINBRC,CINBRC,CINBRC

,CIN CON,CINBRC,CINBRC.1,CINBRC.2,CINBRC.3,CINBRC.4,CINBRC.5,CINBRC.6,CINBRC.7,CINBRC.8
0,TDS,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N2,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PO4,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NH4,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NO3,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DSI,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PSI,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,FE,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,LDOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RDOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,LPOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,RPOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,DO,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,TIC,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ALK,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,LDOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,RDOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LPOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,RPOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,LDOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,RDOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LPOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,RPOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,CTR CON,CTRTRC,CTRTRC,CTRTRC,CTRTRC,CTRTRC,CTRTRC,CTRTRC,CTRTRC,CTRTRC

,CTR CON,CTRTRC,CTRTRC.1,CTRTRC.2,CTRTRC.3,CTRTRC.4,CTRTRC.5,CTRTRC.6,CTRTRC.7,CTRTRC.8
0,TDS,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
1,N2,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
2,PO4,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
3,NH4,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
4,NO3,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
5,DSI,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
6,PSI,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
7,FE,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
8,LDOM,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
9,RDOM,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
10,LPOM,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
11,RPOM,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
12,DO,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
13,TIC,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
14,ALK,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
15,LDOM-P,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
16,RDOM-P,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
17,LPOM-P,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
18,RPOM-P,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
19,LDOM-N,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
20,RDOM-N,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
21,LPOM-N,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
22,RPOM-N,OFF,OFF,OFF,NaN,NaN,NaN,NaN,NaN,NaN
23,CDT CON,CDTBRC,CDTBRC,CDTBRC,CDTBRC,CDTBRC,CDTBRC,CDTBRC,CDTBRC,CDTBRC

,CDT CON,CDTBRC,CDTBRC.1,CDTBRC.2,CDTBRC.3,CDTBRC.4,CDTBRC.5,CDTBRC.6,CDTBRC.7,CDTBRC.8
0,TDS,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N2,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PO4,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NH4,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NO3,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DSI,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PSI,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,FE,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,LDOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RDOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,LPOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,RPOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,DO,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,TIC,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ALK,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,LDOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,RDOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LPOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,RPOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,LDOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,RDOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LPOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,RPOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,CPR CON,CPRBRC,CPRBRC,CPRBRC,CPRBRC,CPRBRC,CPRBRC,CPRBRC,CPRBRC,CPRBRC

,CPR CON,CPRBRC,CPRBRC.1,CPRBRC.2,CPRBRC.3,CPRBRC.4,CPRBRC.5,CPRBRC.6,CPRBRC.7,CPRBRC.8
0,TDS,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N2,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PO4,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NH4,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NO3,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DSI,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PSI,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,FE,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,LDOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RDOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,LPOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,RPOM,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,DO,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,TIC,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ALK,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,LDOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,RDOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LPOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,RPOM-P,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,LDOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,RDOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,LPOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,RPOM-N,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,EX COEF,EXH2O,EXSS,EXOM,BETA,EXC,EXIC,NaN,NaN,NaN

  EX COEF EXH2O EXSS EXOM  BETA  EXC EXIC  Unnamed: 7  Unnamed: 8  Unnamed: 9
0    WB 1  0.45  0.1  0.1  0.45  OFF  OFF         NaN         NaN         NaN
1  ALG EX   EXA  EXA  EXA   EXA  EXA  EXA         NaN         NaN         NaN

,ALG EX,EXA,EXA.1,EXA.2,EXA.3,EXA.4,EXA.5,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,0.20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZOO EX,EXZ,EXZ,EXZ,EXZ,EXZ,EXZ,NaN,NaN,NaN

,ZOO EX,EXZ,EXZ.1,EXZ.2,EXZ.3,EXZ.4,EXZ.5,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,0.2,0.2,0.2,NaN,NaN,NaN,NaN,NaN,NaN
1,MACRO EX,EXM,EXM,EXM,EXM,EXM,EXM,NaN,NaN,NaN

,MACRO EX,EXM,EXM.1,EXM.2,EXM.3,EXM.4,EXM.5,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,0.0100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GENERIC,CGQ10,CG0DK,CG1DK,CGS,CGLDK,CGKLF,CGCS,NaN,NaN

,GENERIC,CGQ10,CG0DK,CG1DK,CGS,CGLDK,CGKLF,CGCS,Unnamed: 8,Unnamed: 9
0,CG 1,0.00000,0.00000,0.00000,0.0,0.0,1.034,-1.0,! N2 Ga,s and TD
1,S SOLIDS,SSS,SEDRC,TAUCR,NaN,NaN,NaN,NaN,NaN,NaN

,S SOLIDS,SSS,SEDRC,TAUCR,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,SSS 1,1.00000,OFF,1.00000,NaN,NaN,NaN,NaN,NaN,NaN
1,ALGAL RA,TE AG,AR,AE,AM,AS,AHSP,AHSN,AHSSI,ASAT

,ALGAL RA,TE AG,AR,AE,AM,AS,AHSP,AHSN,AHSSI,ASAT
0,ALG1,2.00000,0.04000,0.04000,0.10000,0.10000,0.00300,0.01400,0.00000,100.0
1,ALGAL TE,MP AT1,AT2,AT3,AT4,AK1,AK2,AK3,AK4,NaN

,ALGAL TE,MP AT1,AT2,AT3,AT4,AK1,AK2,AK3,AK4,Unnamed: 9
0,ALG1,5.00000,30.0000,35.0000,40.0000,0.10000,0.99000,0.99000,0.10000,NaN
1,ALG STOI,ALGP,ALGN,ALGC,ALGSI,ACHLA,ALPOM,ANEQN,ANPR,NaN

,ALG STOI,ALGP,ALGN,ALGC,ALGSI,ACHLA,ALPOM,ANEQN,ANPR,Unnamed: 9
0,ALG1,0.00500,0.08000,0.45000,0.00000,0.06500,0.80000,1,0.00100,NaN
1,EPIPHYTE,EPIC,EPIC,EPIC,EPIC,EPIC,EPIC,EPIC,EPIC,EPIC

   EPIPHYTE  EPIC EPIC.1 EPIC.2 EPIC.3 EPIC.4 EPIC.5 EPIC.6 EPIC.7 EPIC.8
0      EPI1   OFF    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  EPI PRIN  EPRC   EPRC   EPRC   EPRC   EPRC   EPRC   EPRC   EPRC   EPRC

   EPI PRIN   EPRC EPRC.1 EPRC.2 EPRC.3 EPRC.4 EPRC.5 EPRC.6 EPRC.7 EPRC.8
0      EPI1    OFF    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  EPI INIT  EPICI  EPICI  EPICI  EPICI  EPICI  EPICI  EPICI  EPICI  EPICI

,EPI INIT,EPICI,EPICI.1,EPICI.2,EPICI.3,EPICI.4,EPICI.5,EPICI.6,EPICI.7,EPICI.8
0,EPI1,20.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EPI RATE,EG,ER,EE,EM,EB,EHSP,EHSN,EHSSI,NaN

,EPI RATE,EG,ER,EE,EM,EB,EHSP,EHSN,EHSSI,Unnamed: 9
0,EPI1,1.50000,0.05000,0.02000,0.10000,0.00001,0.002,0.002,0.0,NaN
1,EPI HALF,ESAT,EHS,ENEQN,ENPR,NaN,NaN,NaN,NaN,NaN

,EPI HALF,ESAT,EHS,ENEQN,ENPR,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,EPI1,75.000,15.0000,2,0.00100,NaN,NaN,NaN,NaN,NaN
1,EPI TEMP,ET1,ET2,ET3,ET4,EK1,EK2,EK3,EK4,NaN

,EPI TEMP,ET1,ET2,ET3,ET4,EK1,EK2,EK3,EK4,Unnamed: 9
0,EPI1,1.00000,3.00000,20.0000,30.0000,0.10000,0.99000,0.99,0.1,NaN
1,EPI STOI,EP,EN,EC,ESI,ECHLA,EPOM,NaN,NaN,NaN

,EPI STOI,EP,EN,EC,ESI,ECHLA,EPOM,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,EPI1,0.00500,0.08000,0.45000,0.00000,0.06500,0.80000,NaN,NaN,NaN
1,ZOOP RAT,E ZG,ZR,ZM,ZEFF,PREFP,ZOOMIN,ZS2P,NaN,NaN

,ZOOP RAT,E ZG,ZR,ZM,ZEFF,PREFP,ZOOMIN,ZS2P,Unnamed: 8,Unnamed: 9
0,Zoo1,1.50,0.10,0.010,0.50,0.50,0.0100,0.30,NaN,NaN
1,ZOOP ALG,P PREFA,PREFA,PREFA,PREFA,PREFA,PREFA,PREFA,PREFA,PREFA

,ZOOP ALG,P PREFA,PREFA,PREFA.1,PREFA.2,PREFA.3,PREFA.4,PREFA.5,PREFA.6,PREFA.7
0,Zoo1,1.00,0.50,0.50,NaN,NaN,NaN,NaN,NaN,NaN
1,ZOOP ZOO,P PREFZ,PREFZ,PREFZ,PREFZ,PREFZ,PREFZ,PREFZ,PREFZ,PREFZ

,ZOOP ZOO,P PREFZ,PREFZ,PREFZ.1,PREFZ.2,PREFZ.3,PREFZ.4,PREFZ.5,PREFZ.6,PREFZ.7
0,Zoo1,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
1,ZOOP TEM,P ZT1,ZT2,ZT3,ZT4,ZK1,ZK2,ZK3,ZK4,NaN

   ZOOP TEM  P    ZT1   ZT2   ZT3   ZT4  ZK1  ZK2   ZK3  ZK4  Unnamed: 9
0       NaN       0.0  15.0  20.0  36.0  0.1  0.9  0.98  0.1         NaN
1  ZOOP STO  I     ZP    ZN    ZC   NaN  NaN  NaN   NaN  NaN         NaN

,ZOOP STO,I ZP,ZN,ZC,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,0.01500,0.08000,0.45000,NaN,NaN,NaN,NaN,NaN,NaN
1,MACROPHY,MACWBC,MACWBC,MACWBC,MACWBC,MACWBC,MACWBC,MACWBC,MACWBC,MACWBC

,MACROPHY,MACWBC,MACWBC.1,MACWBC.2,MACWBC.3,MACWBC.4,MACWBC.5,MACWBC.6,MACWBC.7,MACWBC.8
0,Mac1,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MAC PRIN,MPRWBC,MPRWBC,MPRWBC,MPRWBC,MPRWBC,MPRWBC,MPRWBC,MPRWBC,MPRWBC

,MAC PRIN,MPRWBC,MPRWBC.1,MPRWBC.2,MPRWBC.3,MPRWBC.4,MPRWBC.5,MPRWBC.6,MPRWBC.7,MPRWBC.8
0,Mac1,OFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MAC INI,MACWBCI,MACWBCI,MACWBCI,MACWBCI,MACWBCI,MACWBCI,MACWBCI,MACWBCI,MACWBCI

,MAC INI,MACWBCI,MACWBCI.1,MACWBCI.2,MACWBCI.3,MACWBCI.4,MACWBCI.5,MACWBCI.6,MACWBCI.7,MACWBCI.8
0,Mac1,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MAC RATE,MG,MR,MM,MSAT,MHSP,MHSN,MHSC,MPOM,LRPMAC

  MAC RATE    MG    MR    MM  MSAT  MHSP  MHSN  MHSC  MPOM  LRPMAC
0    Mac 1  0.30  0.05  0.05  30.0   0.0   0.0   0.0   0.9     0.2
1  MAC SED  PSED  NSED   NaN   NaN   NaN   NaN   NaN   NaN     NaN

,MAC SED,PSED,NSED,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,MAC 1,0.5,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MAC DIST,MBMP,MMAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,MAC DIST,MBMP,MMAX,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Mac 1,40.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MAC DRAG,CDDRAG,DWV,DWSA,ANORM,NaN,NaN,NaN,NaN,NaN

,MAC DRAG,CDDRAG,DWV,DWSA,ANORM,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Mac 1,3.0,7.0E+04,8.0,0.3,NaN,NaN,NaN,NaN,NaN
1,MAC TEMP,MT1,MT2,MT3,MT4,MK1,MK2,MK3,MK4,NaN

   MAC TEMP       MT1   MT2   MT3   MT4  MK1   MK2   MK3   MK4  Unnamed: 9
0     Mac 1       7.0  15.0  24.0  34.0  0.1  0.99  0.99  0.01         NaN
1  MAC STOI  CH    MP    MN    MC   NaN  NaN   NaN   NaN   NaN         NaN

,MAC STOI,CH MP,MN,MC,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Mac 1,0.005,0.08,0.45,NaN,NaN,NaN,NaN,NaN,NaN
1,DOM,LDOMDK,RDOMDK,LRDDK,NaN,NaN,NaN,NaN,NaN,NaN

,DOM,LDOMDK,RDOMDK,LRDDK,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,0.30000,0.00100,0.01000,NaN,NaN,NaN,NaN,NaN,NaN
1,POM,LPOMDK,RPOMDK,LRPDK,POMS,NaN,NaN,NaN,NaN,NaN

,POM,LPOMDK,RPOMDK,LRPDK,POMS,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,0.08000,0.01000,0.00100,0.50000,NaN,NaN,NaN,NaN,NaN
1,OM STOIC,ORGP,ORGN,ORGC,ORGSI,NaN,NaN,NaN,NaN,NaN

,OM STOIC,ORGP,ORGN,ORGC,ORGSI,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,0.00500,0.08000,0.45000,0.18000,NaN,NaN,NaN,NaN,NaN
1,OM RATE,OMT1,OMT2,OMK1,OMK2,NaN,NaN,NaN,NaN,NaN

,OM RATE,OMT1,OMT2,OMK1,OMK2,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,4.00000,30.0000,0.10000,0.99000,NaN,NaN,NaN,NaN,NaN
1,CBOD,KBOD,TBOD,RBOD,CBOD,S,NaN,NaN,NaN,NaN
2,BOD 1,0.25000,1.01500,1.85000,0.,0,NaN,NaN,NaN,NaN
3,CBOD STO,IC BODP,BODN,BODC,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [CBOD STO, IC  BODP, BODN, BODC, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []

,CBOD STO,IC BODP,BODN,BODC,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,BOD 1,0.00500,0.08000,0.45,NaN,NaN,NaN,NaN,NaN,NaN
1,PHOSPHOR,PO4R,PARTP,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,PHOSPHOR,PO4R,PARTP,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,0.01500,1.20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AMMONIUM,NH4R,NH4DK,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,AMMONIUM,NH4R,NH4DK,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,0.15000,0.05000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NH4 RATE,NH4T1,NH4T2,NH4K1,NH4K2,NaN,NaN,NaN,NaN,NaN

,NH4 RATE,NH4T1,NH4T2,NH4K1,NH4K2,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,5.00000,25.0000,0.10000,0.99,NaN,NaN,NaN,NaN,NaN
1,NITRATE,NO3DK,NO3S,FNO3SED,NaN,NaN,NaN,NaN,NaN,NaN

,NITRATE,NO3DK,NO3S,FNO3SED,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,0.05000,0.00000,0.37,NaN,NaN,NaN,NaN,NaN,NaN
1,NO3 RATE,NO3T1,NO3T2,NO3K1,NO3K2,NaN,NaN,NaN,NaN,NaN

,NO3 RATE,NO3T1,NO3T2,NO3K1,NO3K2,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,5.00000,25.0000,0.10000,0.99000,NaN,NaN,NaN,NaN,NaN
1,SILICA,DSIR,PSIS,PSIDK,PARTSI,NaN,NaN,NaN,NaN,NaN

,SILICA,DSIR,PSIS,PSIDK,PARTSI,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,0.10000,0.10000,0.3,0.2,NaN,NaN,NaN,NaN,NaN
1,IRON,FER,FES,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,IRON,FER,FES,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,0.50000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SED CO2,CO2R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,SED CO2,CO2R,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,0.10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STOICH 1,O2NH4,O2OM,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,STOICH 1,O2NH4,O2OM,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,4.57000,1.40000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STOICH 2,O2AR,O2AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,STOICH 2,O2AR,O2AG,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,ALG1,1.10000,1.40000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STOICH 3,O2ER,O2EG,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,STOICH 3,O2ER,O2EG,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,EPI1,1.10000,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STOICH 4,O2ZR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,STOICH 4,O2ZR,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,ZOO1,1.10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STOICH 5,O2MR,O2MG,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,STOICH 5,O2MR,O2MG,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,MAC1,1.1,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,O2 LIMIT,O2LIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,O2 LIMIT,O2LIM,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,0.10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SEDIMENT,SEDC,SEDPRC,SEDCI,SEDK,SEDS,FSOD,FSED,SEDB,DYNSEDK

   SEDIMENT   SEDC SEDPRC    SEDCI     SEDK  SEDS  FSOD  FSED  SEDB DYNSEDK
0      WB 1    OFF    OFF  0.00000  0.08000   0.1   1.0   1.0   0.1     OFF
1  SOD RATE  SODT1  SODT2    SODK1    SODK2   NaN   NaN   NaN   NaN     NaN

,SOD RATE,SODT1,SODT2,SODK1,SODK2,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,4.00000,30.0000,0.10000,0.99000,NaN,NaN,NaN,NaN,NaN
1,S DEMAND,SOD,SOD,SOD,SOD,SOD,SOD,SOD,SOD,SOD

,S DEMAND,SOD,SOD.1,SOD.2,SOD.3,SOD.4,SOD.5,SOD.6,SOD.7,SOD.8
0,NaN,0.30000,0.30000,0.30000,0.30000,0.30000,0.30000,0.3,0.3,0.3
1,NaN,0.30000,0.30000,0.30000,0.30000,0.30000,0.30000,0.3,0.3,0.3
2,NaN,0.30000,0.30000,0.30000,0.30000,0.30000,0.30000,0.3,0.3,0.3
3,NaN,0.30000,0.30000,0.30000,0.30000,0.30000,0.30000,0.3,0.3,0.3
4,NaN,0.30000,0.30000,0.30000,0.30000,0.30000,0.30000,0.3,0.3,0.3
5,NaN,0.30000,0.30000,0.30000,0.30000,0.30000,0.30000,0.3,0.3,0.3
6,NaN,0.30000,0.30000,0.30000,0.30000,0.30000,0.30000,0.3,0.3,0.3
7,NaN,0.30000,0.30000,0.30000,0.30000,0.30000,0.30000,0.3,0.3,0.3
8,NaN,0.30000,0.30000,0.30000,0.30000,0.30000,NaN,NaN,NaN,NaN
9,REAERATI,ON TYPE,EQN#,COEF1,COEF2,COEF3,COEF4,NaN,NaN,NaN

,REAERATI,ON TYPE,EQN#,COEF1,COEF2,COEF3,COEF4,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,WB 1,LAKE,14,0.04693,0.01853,1.18000,0.00000,NaN,NaN,NaN
1,RSI FILE,........,........,........,........,..RSIFN.,........,........,........,........

,RSI FILE,........,.........1,.........2,.........3,..RSIFN.,.........4,.........5,.........6,.........7
0,NaN,rsi.npt,- not us,ed,NaN,NaN,NaN,NaN,NaN,NaN
1,QWD FILE,........,........,........,........,..QWDFN.,........,........,........,........

,QWD FILE,........,.........1,.........2,.........3,..QWDFN.,.........4,.........5,.........6,.........7
0,NaN,qwd.npt,- not us,ed,NaN,NaN,NaN,NaN,NaN,NaN
1,QGT FILE,........,........,........,........,..QGTFN.,........,........,........,........

,QGT FILE,........,.........1,.........2,.........3,..QGTFN.,.........4,.........5,.........6,.........7
0,NaN,QGT_BON_,2011_201,5_daily_,DSS-scal,ed.csv,NaN,NaN,NaN,NaN
1,WSC FILE,........,........,........,........,..WSCFN.,........,........,........,........

,WSC FILE,........,.........1,.........2,.........3,..WSCFN.,.........4,.........5,.........6,.........7
0,NaN,BON_WSC.,npt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SHD FILE,........,........,........,........,..SHDFN.,........,........,........,........

,SHD FILE,........,.........1,.........2,.........3,..SHDFN.,.........4,.........5,.........6,.........7
0,NaN,BON_SHD_,1.npt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BTH FILE,........,........,........,........,..BTHFN.,........,........,........,........

,BTH FILE,........,.........1,.........2,.........3,..BTHFN.,.........4,.........5,.........6,.........7
0,WB 1,BON_NAVD,88_BTH_2,011.csv,NaN,NaN,NaN,NaN,NaN,NaN
1,MET FILE,........,........,........,........,..METFN.,........,........,........,........

,MET FILE,........,.........1,.........2,.........3,..METFN.,.........4,.........5,.........6,.........7
0,WB 1,HOXO_DLS,_BON_201,1_2015_M,ET_withB,P.csv,NaN,NaN,NaN,NaN
1,EXT FILE,........,........,........,........,..EXTFN.,........,........,........,........

,EXT FILE,........,.........1,.........2,.........3,..EXTFN.,.........4,.........5,.........6,.........7
0,WB 1,ext_1.np,t - not,used,NaN,NaN,NaN,NaN,NaN,NaN
1,VPR FILE,........,........,........,........,..VPRFN.,........,........,........,........

,VPR FILE,........,.........1,.........2,.........3,..VPRFN.,.........4,.........5,.........6,.........7
0,WB 1,vpr.npt,- not us,ed,NaN,NaN,NaN,NaN,NaN,NaN
1,LPR FILE,........,........,........,........,..LPRFN.,........,........,........,........

,LPR FILE,........,.........1,.........2,.........3,..LPRFN.,.........4,.........5,.........6,.........7
0,WB 1,lpr.npt,- not us,ed,NaN,NaN,NaN,NaN,NaN,NaN
1,QIN FILE,........,........,........,........,..QINFN.,........,........,........,........

,QIN FILE,........,.........1,.........2,.........3,..QINFN.,.........4,.........5,.........6,.........7
0,BR 1,THE DALL,ES_OUTFL,OW.csv,NaN,NaN,NaN,NaN,NaN,NaN
1,TIN FILE,........,........,........,........,..TINFN.,........,........,........,........

,TIN FILE,........,.........1,.........2,.........3,..TINFN.,.........4,.........5,.........6,.........7
0,BR 1,two_41_T,DA.opt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CIN FILE,........,........,........,........,..CINFN.,........,........,........,........

,CIN FILE,........,.........1,.........2,.........3,..CINFN.,.........4,.........5,.........6,.........7
0,BR 1,cwo_41_T,DA.opt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QOT FILE,........,........,........,........,..QOTFN.,........,........,........,........

,QOT FILE,........,.........1,.........2,.........3,..QOTFN.,.........4,.........5,.........6,.........7
0,BR 1,qot_br1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,QTR FILE,........,........,........,........,..QTRFN.,........,........,........,........

,QTR FILE,........,.........1,.........2,.........3,..QTRFN.,.........4,.........5,.........6,.........7
0,TR 1,qtr_tr1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,TTR FILE,........,........,........,........,..TTRFN.,........,........,........,........

,TTR FILE,........,.........1,.........2,.........3,..TTRFN.,.........4,.........5,.........6,.........7
0,TR 1,ttr_tr1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,CTR FILE,........,........,........,........,..CTRFN.,........,........,........,........

,CTR FILE,........,.........1,.........2,.........3,..CTRFN.,.........4,.........5,.........6,.........7
0,TR 1,ctr_tr1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,QDT FILE,........,........,........,........,..QDTFN.,........,........,........,........

,QDT FILE,........,.........1,.........2,.........3,..QDTFN.,.........4,.........5,.........6,.........7
0,BR 1,Bonnevil,leDam_Di,stribute,dTributa,ryInflow,.npt,NaN,NaN,NaN
1,TDT FILE,........,........,........,........,..TDTFN.,........,........,........,........

,TDT FILE,........,.........1,.........2,.........3,..TDTFN.,.........4,.........5,.........6,.........7
0,BR 1,two_41_T,DA.opt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CDT FILE,........,........,........,........,..CDTFN.,........,........,........,........

,CDT FILE,........,.........1,.........2,.........3,..CDTFN.,.........4,.........5,.........6,.........7
0,BR 1,cwo_41_T,DA.opt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PRE FILE,........,........,........,........,..PREFN.,........,........,........,........

,PRE FILE,........,.........1,.........2,.........3,..PREFN.,.........4,.........5,.........6,.........7
0,BR 1,pre_br1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,TPR FILE,........,........,........,........,..TPRFN.,........,........,........,........

,TPR FILE,........,.........1,.........2,.........3,..TPRFN.,.........4,.........5,.........6,.........7
0,BR 1,tpr_br1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,CPR FILE,........,........,........,........,..CPRFN.,........,........,........,........

,CPR FILE,........,.........1,.........2,.........3,..CPRFN.,.........4,.........5,.........6,.........7
0,BR 1,cpr_br1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,EUH FILE,........,........,........,........,..EUHFN.,........,........,........,........

,EUH FILE,........,.........1,.........2,.........3,..EUHFN.,.........4,.........5,.........6,.........7
0,BR 1,euh_br1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,TUH FILE,........,........,........,........,..TUHFN.,........,........,........,........

,TUH FILE,........,.........1,.........2,.........3,..TUHFN.,.........4,.........5,.........6,.........7
0,BR 1,tuh_br1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,CUH FILE,........,........,........,........,..CUHFN.,........,........,........,........

,CUH FILE,........,.........1,.........2,.........3,..CUHFN.,.........4,.........5,.........6,.........7
0,BR 1,cuh_br1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,EDH FILE,........,........,........,........,..EDHFN.,........,........,........,........

,EDH FILE,........,.........1,.........2,.........3,..EDHFN.,.........4,.........5,.........6,.........7
0,BR 1,edh_br1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,TDH FILE,........,........,........,........,..TDHFN.,........,........,........,........

,TDH FILE,........,.........1,.........2,.........3,..TDHFN.,.........4,.........5,.........6,.........7
0,BR 1,tdh_br1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,CDH FILE,........,........,........,........,..CDHFN.,........,........,........,........

,CDH FILE,........,.........1,.........2,.........3,..CDHFN.,.........4,.........5,.........6,.........7
0,BR 1,cdh_br1.,npt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,SNP FILE,........,........,........,........,..SNPFN.,........,........,........,........

,SNP FILE,........,.........1,.........2,.........3,..SNPFN.,.........4,.........5,.........6,.........7
0,WB 1,BON_snp.,opt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PRF FILE,........,........,........,........,..PRFFN.,........,........,........,........

,PRF FILE,........,.........1,.........2,.........3,..PRFFN.,.........4,.........5,.........6,.........7
0,WB 1,BON_prf.,opt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VPL FILE,........,........,........,........,..VPLFN.,........,........,........,........

,VPL FILE,........,.........1,.........2,.........3,..VPLFN.,.........4,.........5,.........6,.........7
0,WB 1,BON_vpl.,w2l,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CPL FILE,........,........,........,........,..CPLFN.,........,........,........,........

,CPL FILE,........,.........1,.........2,.........3,..CPLFN.,.........4,.........5,.........6,.........7
0,WB 1,BON_cpl.,opt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SPR FILE,........,........,........,........,..SPRFN.,........,........,........,........

,SPR FILE,........,.........1,.........2,.........3,..SPRFN.,.........4,.........5,.........6,.........7
0,WB 1,BON_spr.,opt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FLX FILE,........,........,........,........,..FLXFN.,........,........,........,........

,FLX FILE,........,.........1,.........2,.........3,..FLXFN.,.........4,.........5,.........6,.........7
0,WB 1,BON_flx.,opt - no,t used,NaN,NaN,NaN,NaN,NaN,NaN
1,TSR FILE,........,........,........,........,..TSRFN.,........,........,........,........

,TSR FILE,........,.........1,.........2,.........3,..TSRFN.,.........4,.........5,.........6,.........7
0,NaN,BON_tsr.,opt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WDO FILE,........,........,........,........,..WDOFN.,........,........,........,........

,WDO FILE,........,.........1,.........2,.........3,..WDOFN.,.........4,.........5,.........6,.........7
0,NaN,BON_wdo.,opt,NaN,NaN,NaN,NaN,NaN,NaN,NaN